In [1]:
# Importing necessary libraries
import os                  # For changing Directory
import  pandas as pd       # To work with Data Frames 
import numpy as np         # To perform Numerical Operations

In [2]:
# Importing Data / Reading Data

cars_data = pd.read_csv("Toyota.csv",index_col=0)

In [3]:
# CREATING A DEEPCOPY
cars_data1 = cars_data.copy(deep=True)

In [4]:
# ROW LABELS
x = cars_data1.index # WILL GIVE ROW LABELS
print(x)

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
           dtype='int64', length=1436)

In [5]:
# COLUMN LABELS

y = cars_data1.columns # WILL GIVE COLUMN  LABELS
print(y)

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [6]:
# SIZE OF DATA FRAME 
z = cars_data1.size
print(z)

14360

In [7]:
print("----------------------------------SHAPE OF DATA FRAME-------------------------------------------------")
yz = cars_data1.shape
print(yz)

----------------------------------SHAPE OF DATA FRAME-------------------------------------------------
(1436, 10)

In [8]:
print("---------------------------------MEMORY USAGE OF EACH COLUMN (IN BYTES)------------------------------------")
A = cars_data1.memory_usage()
print(A)

---------------------------------MEMORY USAGE OF EACH COLUMN (IN BYTES)------------------------------------
Index        11488
Price        11488
Age          11488
KM           11488
FuelType     11488
HP           11488
MetColor     11488
Automatic    11488
CC           11488
Doors        11488
Weight       11488
dtype: int64

In [9]:
print("---------------------------------NUMBER OF AXES / ARRAY DIMENSIONS---------------------------------------------")

B = cars_data1.ndim
print(B)

---------------------------------NUMBER OF AXES / ARRAY DIMENSIONS---------------------------------------------
2

INDEXING OPERATOR

In [10]:
print("------------------------------------------HEAD OPERATOR---------------------------------------------------------")

C = cars_data1.head()
print(C)

------------------------------------------HEAD OPERATOR---------------------------------------------------------
   Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel  90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel  90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel  90       0.0          0  2000      3    1170

In [11]:
print("----------------------------------FIRST 2 HEAD OPERATOR---------------------------------------------------------")

D = cars_data1.head(2)
print(D)

----------------------------------FIRST 2 HEAD OPERATOR---------------------------------------------------------
   Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165

In [12]:
print("----------------------------------TAIL INDEXING OPERATOR--------------------------------------------------------")

E = cars_data1.tail()
print(E)

----------------------------------TAIL INDEXING OPERATOR--------------------------------------------------------
      Price   Age     KM FuelType   HP  MetColor  Automatic    CC Doors  \
1431   7500   NaN  20544   Petrol   86       1.0          0  1300     3
1432  10845  72.0     ??   Petrol   86       0.0          0  1300     3
1433   8500   NaN  17016   Petrol   86       0.0          0  1300     3
1434   7250  70.0     ??      NaN   86       1.0          0  1300     3
1435   6950  76.0      1   Petrol  110       0.0          0  1600     5

      Weight
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114

In [13]:
print("----------------------------------TO ACESS SCALAR VALUE----------------------------------------------------")
 # at method = row and column name
F = cars_data1.at[4,'FuelType']
print(F)

----------------------------------TO ACESS SCALAR VALUE----------------------------------------------------
Diesel

In [14]:
# TO ACESS SCALAR VALUE
# iat method = row and column INDEX
G = cars_data1.iat[55,5]
print(G)

1.0

In [15]:
print("----------------------------------TO ACESS GROUP OF ROWS AND COLUMNS--------------------------------------")

H = cars_data1.loc[:,'FuelType']
print(H)

----------------------------------TO ACESS GROUP OF ROWS AND COLUMNS--------------------------------------
0       Diesel
1       Diesel
2       Diesel
3       Diesel
4       Diesel
         ...
1431    Petrol
1432    Petrol
1433    Petrol
1434       NaN
1435    Petrol
Name: FuelType, Length: 1436, dtype: object

In [16]:
print("----------------------------------TO ACESS GROUP OF ROWS AND COLUMNS------------------------------------")

H = cars_data1.loc[5:,['FuelType','HP']]
print(H)

----------------------------------TO ACESS GROUP OF ROWS AND COLUMNS------------------------------------
     FuelType    HP
5      Diesel    90
6      Diesel  ????
7         NaN    90
8      Petrol   192
9      Diesel  ????
...       ...   ...
1431   Petrol    86
1432   Petrol    86
1433   Petrol    86
1434      NaN    86
1435   Petrol   110

[1431 rows x 2 columns]

In [17]:
print("-------------------------------------CHECKING DATA TYPES------------------------------------------------")
 
I=cars_data1.dtypes
print(I)

-------------------------------------CHECKING DATA TYPES------------------------------------------------
Price          int64
Age          float64
KM            object
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [18]:
print("-------------------------------------CHECKING UNIQUE DATA TYPES-----------------------------------------")
 
J= cars_data1.dtypes.value_counts()
print(J)

-------------------------------------CHECKING UNIQUE DATA TYPES-----------------------------------------
int64      4
object     4
float64    2
dtype: int64

In [19]:
print("-------------------------------------SELECTING DATA BASED ON DATA TYPES-----------------------------------")
 # DF.select_dtypes(exclude=None,exclude=None)
 
 
k= cars_data1.select_dtypes(exclude=[object])
print(k)

-------------------------------------SELECTING DATA BASED ON DATA TYPES-----------------------------------
      Price   Age  MetColor  Automatic    CC  Weight
0     13500  23.0       1.0          0  2000    1165
1     13750  23.0       1.0          0  2000    1165
2     13950  24.0       NaN          0  2000    1165
3     14950  26.0       0.0          0  2000    1165
4     13750  30.0       0.0          0  2000    1170
...     ...   ...       ...        ...   ...     ...
1431   7500   NaN       1.0          0  1300    1025
1432  10845  72.0       0.0          0  1300    1015
1433   8500   NaN       0.0          0  1300    1015
1434   7250  70.0       1.0          0  1300    1015
1435   6950  76.0       0.0          0  1600    1114

[1436 rows x 6 columns]

In [20]:
print("------------------------------GETTING CONSISE SUMMARY OF DATA FRAMES---------------------------------------")
 
L= cars_data1.info()
print(L)

------------------------------GETTING CONSISE SUMMARY OF DATA FRAMES---------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 155.7+ KB
None

In [21]:
print("-------------------------------------CHECKING UNIQUE ELEMENTS OF COLUMN------[for KM]-----------------------------------")
 
#numpy.unique(array)

print(np.unique(cars_data1['KM']))

print("Because of ?? ,  KM is read as an object instead of int64")

-------------------------------------CHECKING UNIQUE ELEMENTS OF COLUMN------[for KM]-----------------------------------
['1' '10000' '100123' ... '99865' '99971' '??']
Because of ?? ,  KM is read as an object instead of int64

In [22]:
print("-------------------------------------CHECKING UNIQUE ELEMENTS OF COLUMN------[for HP]-----------------------------------")

print(np.unique(cars_data1['HP']))

print("Because of ???? ,  HP is read as an object instead of int64")

-------------------------------------CHECKING UNIQUE ELEMENTS OF COLUMN------[for HP]-----------------------------------
['107' '110' '116' '192' '69' '71' '72' '73' '86' '90' '97' '98' '????']
Because of ???? ,  HP is read as an object instead of int64

In [23]:
print("-------------------------------------CHECKING UNIQUE ELEMENTS OF COLUMN------[for METALIC COLOR]-----------------------")

print(np.unique(cars_data1['MetColor']))

print("Because of 0. , 1. ,  MetColor is read as an float64  instead of category")

-------------------------------------CHECKING UNIQUE ELEMENTS OF COLUMN------[for METALIC COLOR]-----------------------
[ 0.  1. nan]
Because of 0. , 1. ,  MetColor is read as an float64  instead of category

In [24]:
print("-------------------------------------CHECKING UNIQUE ELEMENTS OF COLUMN------[for DOORs]-----------------------")

print(np.unique(cars_data1['Doors']))

print("Because of 'five' 'four' 'three' ,DOORs  is read as an object  instead of int")

-------------------------------------CHECKING UNIQUE ELEMENTS OF COLUMN------[for DOORs]-----------------------
['2' '3' '4' '5' 'five' 'four' 'three']
Because of 'five' 'four' 'three' ,DOORs  is read as an object  instead of int