## Sequence DataType Object innitialization

In [1]:
Str = "Learning is fum !"

In [2]:
Lst = [1,2,'a','sam',2]

In [3]:

from array import *

In [4]:
Arr = array('i',[1,2,3,4])

In [5]:
Tup = (1,2,3,4,3,'py')

In [6]:
Dict = {1:'First','Second':2,3:3,'four':'4'}

In [7]:
SetS = {'Example',24,87.5,24,'Data'}

In [8]:
Keys = (1,'Second',3,'Four')

In [9]:
RangeS = range(1,12,4)
for i in RangeS:
    print(i)

1
5
9

## len(Object) Returns number of elements in the objects

In [10]:
print("Number of elements in object")
print(" String ={}, List = {} , Array={}, Tuple={},Dict={}, Set={}, Range={}".format(len(Str), len(Lst), len(Arr), len(Tup), len(Dict), len(SetS), len(RangeS)))

Number of elements in object
 String =17, List = 5 , Array=4, Tuple=6,Dict=4, Set=4, Range=3

## Reverse Method

In [11]:
Lst.reverse()
print(Lst)

[2, 'sam', 'a', 2, 1]

## CLEAR method removes all items from object

# Supported sequence Data :  List, Dictionary, Set.

In [12]:
Lst.clear()
print(Lst)

[]

In [13]:
Dict.clear()
print(Dict)

{}

In [14]:
SetS.clear()
print(SetS)

set()

## append() Adds an element at the end of the object

Supported Data Types: Array, List, Set

In [15]:
Arr.append(5)
print(Arr)

array('i', [1, 2, 3, 4, 5])

In [11]:
Lst.append([9,8,7])
print(Lst)

[1, 2, 'a', 'sam', 2, [9, 8, 7]]

In [18]:
SetS.add(50)  #not sequential  # Dosent support append
print(SetS)

{'Data', 'Example', 50, 87.5, 24}

## update() Function in set adds element from a set ( passed as an argument) to the set

-this method takes single argument

-argument can be Set, Tuple or a Dectionary

-It automatically converts into set and adds to the set

In [21]:
SetS.update([5,10,11])
print(SetS)

{'Data', 5, 10, 11, 'Example', 50, 87.5, 24}

In [22]:
SetS.update({9,7,8})
print(SetS)

{'Data', 5, 7, 8, 9, 10, 11, 'Example', 50, 87.5, 24}

## Dictionary Menthods

In [10]:
print(Dict)

{1: 'First', 'Second': 2, 3: 3, 'four': '4'}

In [11]:
Dict["Five"] = 5
print(Dict)

{1: 'First', 'Second': 2, 3: 3, 'four': '4', 'Five': 5}

In [12]:
Dict.update(Six=6)
print(Dict)

{1: 'First', 'Second': 2, 3: 3, 'four': '4', 'Five': 5, 'Six': 6}

In [13]:
list(Dict)   #returns a list of all dictionary keys un dict

[1, 'Second', 3, 'four', 'Five', 'Six']

In [14]:
len(Dict)     #Rrturns number of items in dict

6

In [15]:
Dict.get("Five")     # method to acess value of a key

5

In [16]:
Dict.keys()      # Returns keys

dict_keys([1, 'Second', 3, 'four', 'Five', 'Six'])

In [18]:
Dict.items()    # retuns a list of (key, value) Tuple pair

dict_items([(1, 'First'), ('Second', 2), (3, 3), ('four', '4'), ('Five', 5), ('Six', 6)])

## insert() - inserts element at specific index of an object

supported DataTypes : Array,  List

In [10]:
print(Arr)

array('i', [1, 2, 3, 4])

In [11]:
Arr.insert(0,0)
print(Arr)

array('i', [0, 1, 2, 3, 4])

In [12]:
Arr.insert(5,5)
print(Arr)

array('i', [0, 1, 2, 3, 4, 5])

In [13]:
Lst.insert(5,24)
print(Lst)

[1, 2, 'a', 'sam', 2, 24]

## pop - removes the element at given INDEX from object and prints thr same

-Default value is -1, which returns the last item

-Supported DataTypes : Array, List, Dict

In [10]:
Arr.pop()          #Deleting the last element and prints the same

4

In [11]:
print(Lst)

[1, 2, 'a', 'sam', 2]

In [12]:
Lst.pop(3)
print(Lst)

[1, 2, 'a', 2]

In [13]:
print(Dict)

{1: 'First', 'Second': 2, 3: 3, 'four': '4'}

In [14]:
Dict.pop('Second')

2

In [15]:
print(Dict)

{1: 'First', 3: 3, 'four': '4'}

## remove method removes FIRST OCCURRENCE of the element with the specified value

DataTypes Supported : ARRAY , LIST , DICTIONARY , SET

In [16]:
print(Arr)

array('i', [1, 2, 3])

In [18]:
Arr.remove(0)     # Error because 0is not present in array

ValueError: array.remove(x): x not in array

In [19]:
Arr.remove(2)

In [20]:
print(Arr)

array('i', [1, 3])

In [21]:
print(SetS)

{24, 'Data', 87.5, 'Example'}

In [22]:
SetS.remove('Data')

In [23]:
print(SetS)

{24, 87.5, 'Example'}

In [24]:
SetS.discard(24)

In [25]:
print(SetS)

{87.5, 'Example'}

In [26]:
SetS.discard(25)

In [27]:
print(SetS)

{87.5, 'Example'}

## del : Deletes the entire object of any DataType

-Syntax : del obj_Name

-del is python keyword

-obj_name can be variables , userdefined objects, lists , items within lists, dictionaries etc.

In [10]:
print(SetS)

{24, 'Data', 'Example', 87.5}

In [11]:
del SetS
print(SetS)          #NameError: name 'SetS' is not defined

NameError: name 'SetS' is not defined

In [12]:
print(Arr)

array('i', [1, 2, 3, 4])

In [13]:
del Arr
print(Arr)

NameError: name 'Arr' is not defined

In [10]:
print(Lst)

[1, 2, 'a', 'sam', 2]

In [11]:
del Lst[1:3]

In [13]:
print(Lst)

[1, 'sam', 2]

In [14]:
del Lst[1]
print(Lst)

[1, 2]

# The extend() method adds the specified list of elements(or any iterable - list, set, tuple, etc) to the end of the current list

## Array Operation

In [1]:
from array import *
ArrS= array('i',[1,2,3,4])
print(ArrS)

array('i', [1, 2, 3, 4])

In [2]:
ArrS.extend((5,6,8,9))
print(ArrS)

array('i', [1, 2, 3, 4, 5, 6, 8, 9])

In [3]:
ArrS.fromlist([3, 4])  #add values 3 ,4 from list to array
print(ArrS)

ArrS.tolist()          #convert array to list with same items

array('i', [1, 2, 3, 4, 5, 6, 8, 9, 3, 4])

[1, 2, 3, 4, 5, 6, 8, 9, 3, 4]

# Set Operation

# setSample

- A setis an unordered collection of items 

    -Every Element is unique (No Duplicates)
    -Sets can be used to perform mathematical set opperatios like unionn Intersection, Symetric difference, Etc

In [5]:
A = {'Example',24,87.5,'Data',24,'Data'}    # Set of mixed Data Types
print(A)

{'Example', 24, 'Data', 87.5}

In [6]:
B = {24, 87.5}                       # set of integers
print(B)

{24, 87.5}

In [7]:
print( A | B)     # union of A and B is Set of all elements from both sets
A.union(B)        # using union() on B

{'Example', 'Data', 87.5, 24}

{24, 87.5, 'Data', 'Example'}

In [8]:
print(A & B)      # Intersection of A and B is a set of elements that are common in both set
A.intersection(B) # using  intersection() on B

{24, 87.5}

{24, 87.5}

# END OF SCRIPT